header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

img {
    width: 100%;
    height: auto;
}

.lead {
    font-weight: bold;
    color: rgb(0, 123, 255);
}

.gallery {
    text-align: center;
}

.gallery img
{
  transition: 1s;
  padding: 15px;
  width: 240px;
}

.gallery img:hover
{
  /*filter: grayscale(100%);*/
  transform: scale(1.1);
}